# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


.vscode/*
build/**
engge*
resources/**

CMakeFiles
CMakeCache.txt
Makefile
cmake_install.cmake
extlibs/squirrel/build/**
extlibs/squirrel/CMakeFiles/
extlibs/squirrel/cmake_install.cmake
extlibs/squirrel/sq/CMakeFiles/
extlibs/squirrel/sq/cmake_install.cmake
extlibs/squirrel/sqstdlib/CMakeFiles/
extlibs/squirrel/sqstdlib/cmake_install.cmake
extlibs/squirrel/squirrel/CMakeFiles/
extlibs/squirrel/squirrel/cmake_install.cmake

ThimbleweedPark.ggpack1
ThimbleweedPark.ggpack2
