# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


.idea/*
.vscode/*
build/**
cmake-build-*/**
resources/**
extlibs/squirrel/build/**

ThimbleweedPark.ggpack1
ThimbleweedPark.ggpack2
log.txt
imgui.ini
.DS_Store

extlibs/ngf/**
